
.carousel-item{
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 500px;
}
.overlay-image{
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.carousel-caption h5{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
section{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #112d42;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #868B8E;
}
section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;

}
section .container .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}



section .container .contactinfo h2{
    position: relative;
    left: 5%;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    
}

section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
    right: 12%;
    top: 20px;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
   max-width: 100%;
   filter: invert(1);
   opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2){
   color: #fff;
   margin-left: 10px;
   font-weight: 300;
   opacity: 0.5;
}
section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2){
   opacity: 1;
}
section .container .contactinfo .sci{
 position: relative;
 display: flex;
 justify-content: space-between;
 left: 45%;
 transform: translate(-50% , 0%);
}
section .container .contactinfo .sci li{
    list-style: none;
    margin-right: 20px;
   
}
section .container .contactinfo .sci li a{
   text-decoration: none;
}
section .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
    width: 30px;
    height: 30px;
}
section .container .contactinfo .sci li:hover a img{
    opacity: 1;
    
}
section .container .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 20%);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
section .container .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactForm .formbox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50{
    width: 47%;
}
section .container .contactForm .formBox .inputBox.w100{
    width: 100%;
}
section .container .contactForm .formBox .inputBox textarea,
section .container .contactForm .formBox .inputBox input{
    width: 100% ! important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
section .container .contactForm .formBox .inputBox span{
    left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;

}
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:focus ~ span
section .container .contactForm .formBox .inputBox textarea:valid ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span{
transform: translateY(-20px);
font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
color: #ff568c;
}
section .container .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #ff568c;
}